<div>
    <mat-form-field>
        <mat-label>Drużyna 1</mat-label>
        <input matInput [(ngModel)]="match.firstTeam" required>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Drużyna 2</mat-label>
        <input matInput [(ngModel)]="match.secondTeam" required>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Data</mat-label>
        <input matInput type="datetime-local" name="partydate" [(ngModel)]="match.startDate" required>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Kurs wygrany 1</mat-label>
        <input matInput type="number" [(ngModel)]="match.t1WinCourse" required>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Kurs remis</mat-label>
        <input matInput type="number" [(ngModel)]="match.drawCourse" required>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Kurs wygrany 2</mat-label>
        <input matInput type="number" [(ngModel)]="match.t2WinCourse" required>
    </mat-form-field>

    <div mat-dialog-actions>
        <button mat-button class="btn" (click)="onNoClick()">Anuluj</button>
        <button mat-button style="margin-left: 20px;" class="btn" (click)="createMatch()">Zaakceptuj</button>
    </div>

</div>