<h1 style="margin-top: 20px;">Aktywne mecze</h1>
<div class="example-button-row">
  <button *ngIf="userIsAdmin()" class="btn" style="margin-top: 5px;" (click)="createMatch()">Dodaj mecz</button>
</div>
<mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="startDate">
    <mat-header-cell *matHeaderCellDef> Data meczu </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.startDate}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="firstTeam">
    <mat-header-cell *matHeaderCellDef> Zespół 1 </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.firstTeam}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="secondTeam">
    <mat-header-cell *matHeaderCellDef> Zespół 2 </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.secondTeam}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="t1WinCourse">
    <mat-header-cell *matHeaderCellDef> Kurs wygrywa 1 </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.t1WinCourse}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="drawCourse">
    <mat-header-cell *matHeaderCellDef> Kurs remis </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.drawCourse}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="t2WinCourse">
    <mat-header-cell *matHeaderCellDef> Kurs wygrywa 2 </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.t2WinCourse}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="bet">
    <mat-header-cell *matHeaderCellDef> Obstaw </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-raised-button class="btn" (click)="bet(element)">Obstaw</button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="cancel">
    <mat-header-cell *matHeaderCellDef> Anuluj </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-raised-button class="btn" (click)="cancel(element)">Anuluj</button>
    </mat-cell>
  </ng-container>



  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<!-- </div> -->


<div *ngIf="userIsAdmin()">
  <h1 style="margin-top: 20px;">Zakończone mecze</h1>
  <mat-table [dataSource]="endDataSource">
    <ng-container matColumnDef="startDate">
      <mat-header-cell *matHeaderCellDef> Data meczu </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.startDate}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="firstTeam">
      <mat-header-cell *matHeaderCellDef> Zespół 1 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.firstTeam}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="secondTeam">
      <mat-header-cell *matHeaderCellDef> Zespół 2 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.secondTeam}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="t1WinCourse">
      <mat-header-cell *matHeaderCellDef> Kurs wygrywa 1 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.t1WinCourse}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="drawCourse">
      <mat-header-cell *matHeaderCellDef> Kurs remis </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.drawCourse}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="t2WinCourse">
      <mat-header-cell *matHeaderCellDef> Kurs wygrywa 2 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.t2WinCourse}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="cancel">
      <mat-header-cell *matHeaderCellDef> Anuluj </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-raised-button class="btn" (click)="cancel(element)">Anuluj</button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="setResult">
      <mat-header-cell *matHeaderCellDef> Ustal wynik </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-raised-button class="btn" (click)="setResult(element)">Ustal wynik</button>
      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="endDisplayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: endDisplayedColumns;"></mat-row>
  </mat-table>
</div>
<!-- 
<table class="table table-striped">
  <thead>
 
    <tr>
      <th>

        Liga Niemiecka: Bundesliga</th>
      <th></th>
      <th></th>
      <th></th>
      <th>Kursy</th>
      <button style="color: teal">Wprowadzenie zmian</button>
    </tr>
    <tr>
      <th>16 maja 2020</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>15:30</td>
      <td>Augsburg</td>
      <td>? - ?</td>
      <td>

        Wolfsburg</td>
        <td></td>
      <button style="color: green">Obstaw mecz</button>
    </tr>

    <tr>
      <td>15:30</td>
      <td>Hoffenheim</td>
      <td>? - ?</td>
      <td>Hertha</td>
      <td></td>
      <button style="color: green;">Obstaw mecz</button>
    </tr>

    <tr>
      <td>15:30</td>
      <td>Foruna</td>
      <td>? - ?</td>
      <td>Paderborn</td>
      <td></td>
      <button style="color: green;">Obstaw mecz</button>
    </tr>

    <tr>
      <td>15:30</td>
      <td>Dortmund</td>
      <td>? - ?</td>
      <td>Schalke</td>
      <td></td>
      <button style="color: green;">Obstaw mecz</button>
    </tr>

    <tr>
      <td>15:30</td>
      <td>RB Lipsk</td>
      <td>? - ?</td>
      <td>Freiburg</td>
      <td></td>
      <button style="color: green;">Obstaw mecz</button>
    </tr>

    <tr>
      <td>18:30</td>
      <td>Eintracht F.</td>
      <td>? - ?</td>
      <td>M'Gladbach</td>
      <td></td>
      <button style="color: green;">Obstaw mecz</button>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th>17 maja 2020</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>15:30</td>
      <td>Koln</td>
      <td>? - ?</td>
      <td>Mainz</td>
      <td></td>
      <button style="color: green;">Obstaw mecz</button>
    </tr>

    <tr>
      <td>18:30</td>
      <td>Union</td>
      <td>? - ?</td>
      <td>Bayern</td>
      <td></td>
      <button style="color: green;">Obstaw mecz</button>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th>18 maja 2020</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>20:30</td>
      <td>Werder</td>
      <td>? - ?</td>
      <td>Bayer</td>
      <td></td>
      <button style="color: green;">Obstaw mecz</button>
    </tr>
  </tbody>
</table> -->