<mat-form-field>
    <mat-label>Kwota zakładu</mat-label>
    <input matInput type="number" [(ngModel)]="bet.betValue">
</mat-form-field>

<br>

    <mat-radio-group aria-label="Select an option" [(ngModel)]="bet.betResult">
        <mat-radio-button value="T1_WIN">zwycięstwo 1</mat-radio-button>
        <mat-radio-button value="DRAW">remis</mat-radio-button>
        <mat-radio-button value="T2_WIN">zwycięstwo 1</mat-radio-button>
    </mat-radio-group>


<div mat-dialog-actions>
    <button mat-button class="btn" (click)="onNoClick()">Anuluj</button>
    <button mat-button style="margin-left: 20px;" class="btn" (click)="createBet()">Zaakceptuj</button>
</div>