<div>
    <mat-form-field>
        <mat-label>Bramki drużyny 1</mat-label>
        <input matInput type="number" [(ngModel)]="result.ftGoal">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Bramki drużyny 2</mat-label>
        <input matInput type="number" [(ngModel)]="result.stGoal">
    </mat-form-field>

    <div mat-dialog-actions>
        <button mat-button class="btn" (click)="onNoClick()">Anuluj</button>
        <button mat-button style="margin-left: 20px;" class="btn" (click)="setResult()">Zaakceptuj</button>
    </div>

</div>