<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Zakłady Bukmacherskie</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <!--  <li class="nav-item">
        <a class="nav-link" routerLink="/events" routerLinkActive="active">Mecze</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/special" routerLinkActive="active">Tabela</a>
      </li>-->
    </ul>
    <ul class="navbar-nav">
      <li>
        <a *ngIf="userIsLogged()" class="nav-link" routerLink="" routerLinkActive="active" style="color: white;">Hello {{user_name}}</a>
      </li>

      <li>
        <a *ngIf="userIsLogged()" class="nav-link" routerLink="" routerLinkActive="active" style="color: red;">{{user_funds}} PLN</a>
      </li>
      <li>
        <a *ngIf="userIsLogged()" class="nav-link" routerLink="/special" routerLinkActive="active"  style="color: white;">Wpłata</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <a *ngIf="!userIsLogged()" class="nav-link" routerLink="/login" routerLinkActive="active">Logowanie</a>
      <a *ngIf="!userIsLogged()" class="nav-link" routerLink="/register" routerLinkActive="active">Rejestracja</a>
      <button *ngIf="userIsLogged()" class="nav-link" style="background-color: #343a40;border: 0ch; " (click)="logoutUser()" >Wyloguj</button>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>