<div class="row pt-5">
    <div class="col-md-6 mx-auto">
        <div class="card rounded-0">
            <div class="card-header">
                <h3 class="mb-0">Dodaj fundusze</h3>
            </div>
            <div class="card-body">
                <form class="form">
                    <div class="form-group">
                        <label for="">Ilość PLN</label>
                        <input type="text" class="form-control rounded-0" [ngModelOptions]="{standalone: true}" [(ngModel)]="money.value">
                    </div>

                    <div class="form-group">
                        <label for="">Nr karty</label>
                        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="money.creditCardNumber" class="form-control rounded-0" type="number"  placeholder="xxxx xxxx xxxx xxxx" >
                    </div>
                    
                    <button type="button" class="btn btn-primary float-right" (click)="payIn()">Zatwierdź</button>
                </form>
            </div>
        </div>
    </div>
</div>