<div class="row pt-5">
    <div class="col-md-6 mx-auto">
      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">Rejestracja</h3>
        </div>
        <div class="card-body">
          <form class="form">
            <div class="form-group">
              <label for="">Email</label>
              <input [(ngModel)]="registerUserData.email" name="email" type="email" class="form-control rounded-0"  required >
            </div>
            <div class="form-group">
              <label for="">Login</label>
              <input [(ngModel)]="registerUserData.login" name="login" type="text" class="form-control rounded-0"  required >
            </div>
            <div class="form-group">
              <label for="">Hasło</label>
              <input [(ngModel)]="registerUserData.password" name="password"  type="password" class="form-control rounded-0" required>
            </div>
            <button type="button" (click)="registerUser()" class="btn btn-primary float-right">Zarejestruj się</button>
          </form>
        </div>
      </div>
    </div>
  </div>
